body {
    color: pink;
    background: black;
}

header {
    border-bottom: solid 1px rgb(255,133,154);
    padding: 28px;
    font-size: 35px;
}

section {
    background: rgb(73,28,92);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}



.categoria-videos{
    display: flex;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px
}


.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid white
}